
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
body {
  padding-top: 50px;
}
#logo {
  font-size: 1.7em;
  font-weight:bold;
  color:#fff;
  text-decoration:none;
  letter-spacing: -1px;
  display:flex;
  align-items: center;
}
.static-home {

  margin-top: 20px;
  padding:50px;
  color:gray;
  p,h1 {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
}
.footer-area,h1 {
  color: gray;
}

